---
const { href = null, type = "primary" } = Astro.props;
const classes = type === "primary" ? "button" : "button button--secondary";
---

{href ? (
  <a class={classes} href={href}>
    <slot />
  </a>
) : (
  <button class={classes}>
    <slot />
  </button>
)}
